@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
@media screen and (max-width: 960px) {
  .catalogProducts:nth-last-child(5) {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .nav__LK, .nav__select, .nav__selectLanguage, .nav__selectLK {
    display: none;
  }
  .FooterInside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
}

body {
  margin: 0 auto;
  width: 75%;
  background: #f3f3f3;
}

header {
  background: url(../images/background_header.png) no-repeat center;
  height: 648px;
}

.nav {
  width: 90%;
}

.nav__number a {
  font-family: 'Roboto Slab', sans-serif;
  color: #0d3351;
  font-weight: bold;
  text-decoration: none;
}

.nav__number p {
  font-family: "Raleway", sans-serif;
  color: #0d3351;
  margin-top: 0;
  font-size: 10px;
}

.nav__number_position {
  margin-top: 15px;
}

.nav__selectLK {
  background: url(../images/menu/user.png) no-repeat left;
}

.nav__select {
  background: url(../images/menu/Р.png) no-repeat left;
}

.nav__selectLK_upgrade {
  border: none;
  text-decoration: none;
  padding-left: 10px;
  color: #0d3351;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}

.nav__select_upgrade {
  border: none;
  text-decoration: none;
  padding-left: 10px;
  color: #0d3351;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}

.nav__selectLanguage {
  background: none;
  border: none;
  margin-right: 60px;
  font-family: "Raleway", sans-serif;
}

.nav_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav__image {
  text-align: center;
  margin-top: 0;
}

@media screen and (max-width: 960px) {
  .nav__image {
    display: none;
  }
}

.MainText__Logo {
  background: url(../images/menu/logo.png) no-repeat center;
  height: 88px;
}

button {
  cursor: pointer;
  background: #33c7fd;
  height: 47px;
  width: 202px;
  border: none;
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
}

button:hover {
  background: #13b0e9;
}

button:active {
  background: #64d6ff;
}

.MainText__Seatext p {
  color: #0d3351;
  font-size: 36px;
  font-family: "Roboto Slab", serif;
}

.MainText__BlackSea {
  font-family: "Roboto Slab", serif;
  font-size: 70px;
  letter-spacing: -2.5px;
  color: #0d3351;
}

@media screen and (max-width: 420px) {
  .MainText__BlackSea {
    font-size: 50px;
  }
}

.button_top {
  margin-top: 40px;
}

.MainText_Center {
  text-align: center;
  line-height: 0.9;
}

select {
  background: none;
}

.select_italic {
  font-style: italic;
}

.catalog_position {
  margin-top: 60px;
  text-align: center;
}

.catalogMain h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
}

.catalogMain p {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

.catalogMain select {
  border: none;
  width: 58px;
}

.catalogMain__Name {
  color: #0d3351;
}

.catalogItems_postition {
  width: 75%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 2vw;
  margin: 0 auto;
  margin-top: 42px;
  margin-bottom: 42px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .catalogItems {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.grid_firstunit {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.catalogProducts {
  background: white;
  position: relative;
}

.catalogProducts__Image {
  width: 100%;
  overflow: hidden;
}

.catalogProducts__Price {
  font-family: "Roboto Slab", serif;
  color: #0d3351;
  font-size: 30px;
}

.catalogProducts__Price_position {
  padding-left: 30px;
  line-height: 2;
}

.catalogProducts_sale {
  font-size: 14px;
  color: #a9b0b8;
  padding-left: 40px;
}

.catalogProducts_sale
.catalogProducts__name {
  color: #33c7fd;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
}

.catalogProducts__name_position {
  padding-left: 30px;
  line-height: 2;
}

.catalogProducts__description {
  font-size: 14px;
  color: #0d3351;
  font-family: "Raleway", sans-serif;
}

.catalogProducts__description_position {
  padding-left: 30px;
  line-height: 2;
}

.CornerBlue {
  background: url(../images/corners/bluecorner.png) no-repeat;
  color: white;
  font-size: 14px;
  padding-top: 30px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  line-height: 1.29;
  letter-spacing: 0.7px;
}

.CornerBlue_position {
  position: absolute;
  top: -5px;
  right: 50px;
  width: 89px;
  height: 101px;
  z-index: 1;
}

.CornerRed {
  background: url(../images/corners/redcorner.png) no-repeat;
  color: white;
  font-size: 14px;
  padding-top: 30px;
  font-family: "Raleway", sans-serif;
  line-height: 1.29;
  letter-spacing: 0.7px;
  text-align: center;
}

.CornerRed_position {
  z-index: 1;
  position: absolute;
  top: -5px;
  right: 50px;
  width: 89px;
  height: 101px;
}

@media screen and (max-width: 960px) {
  .CornerRed_position {
    background-position: top right;
    top: -3px;
    background-size: 50%;
    padding-top: 0;
    text-align: right;
    font-size: 11px;
  }
}

footer {
  background: white;
  margin-top: 30px;
  width: 100%;
}

.FooterInside {
  padding-top: 30px;
  margin: 0 auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
}

.FooterInside__AboutUs__contacts_text {
  display: block;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #0d3351;
  margin: 9px;
}

.FooterInside__SocialMedia__Text {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #0d3351;
}

.FooterInside__SocialMedia_position {
  margin-top: 5px;
}
/*# sourceMappingURL=styles.css.map */